// @import "./index.scss";

body {
  background-color: #fff9a1;
}

/*.loginput {
  border-radius: 50px;
  padding: 10px;
  width: 50%;
  border-style: dashed;
  border-color: #ffc796;
  border-width: 5px;
}

.loginpage {
  text-align: center;
  background-color: white;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  padding: 2% 5% 10% 5%;
}

.loginpage h1 {
  color: #ffc796;
}

.loginpage p {
  margin-top: 20%;
}*/