.messages {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 800px;
  height: 55vh;
  overflow-y: auto;
}

.title {
  color: #ffc796;
  text-align: center;
  font-size: 100px;
  margin-top: 0;

}